<main class="content">

  <h1>Electron/Angular SHA Family example</h1>
  <span>Aplicação desenvolvida por: Diovanna Schell, Felipe Pasqualotto e Marco Moura</span>

  <div class="hash-select-wrapper">
    <!-- <input [(ngModel)]="text" #ctrl="ngModel" placeholder="Insira o texto para ser criptografado"> -->
    <mat-form-field appearance="outline" class="hash-form">
      <mat-label>Insira o texto para ser criptografado</mat-label>
      <input matInput [(ngModel)]="text" #ctrl="ngModel">
    </mat-form-field>

    <mat-form-field appearance="outline" class="hash-form">
      <mat-label>Algoritmo SHA</mat-label>
      <mat-select [(ngModel)]="algorithmSelect" [value]="hashAlgorithms[0]">
        <mat-option *ngFor="let algorithm of hashAlgorithms" [value]="algorithm">
          {{algorithm}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="hash-form">
      <mat-label>codificação do texo</mat-label>
      <mat-select [(ngModel)]="encodingSelect" [value]="encodings[0]">
        <mat-option *ngFor="let encoding of encodings" [value]="encoding">
          {{encoding}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button matRipple (click)="criptografar()">CRIPTOGRAFAR</button>

    <div id="resultado" placeholder="resultado" [ngStyle]="{color: hash? null : '#666' }">
      {{hash ? hash : 'resultado'}}
    </div>
  </div>


</main>