<main class="content">

  <h1>Electron/Angular SHA Family example</h1>
  <span>Aplicação desenvolvida por: Diovanna Schell, Felipe Pasqualotto e Marco Moura</span>

  <div class="hash-select-wrapper">
    <input [(ngModel)]="text" #ctrl="ngModel" placeholder="Insira o texto para ser criptografado">

    <label for="select">Algoritmo SHA</label>
    <select [(ngModel)]="algorithmSelect" [value]="hashAlgorithms[0]">
      <option *ngFor="let algorithm of hashAlgorithms" [value]="algorithm">
        {{algorithm}}
      </option>
    </select>

    <label for="select">codificação do texo</label>
    <select [(ngModel)]="encodingSelect">
      <option *ngFor="let encoding of encodings" [value]="encoding">
        {{encoding}}
      </option>
    </select>

    <button (click)="criptografar()">CRIPTOGRAFAR</button>

    <div id="resultado" placeholder="resultado" [ngStyle]="{color: hash? null : '#666' }">
      {{hash ? hash : 'resultado'}}
    </div>
  </div>


</main>