<main class="content">

  <h1>Electron/Angular SHA Family example</h1>


  <div class="hash-select-wrapper">
    <input [(ngModel)]="text" #ctrl="ngModel" placeholder="Insira o texto para ser criptografado">

    <select [(ngModel)]="hashSelect" [value]="hashAlgorithms[0]">
      <option *ngFor="let algorithm of hashAlgorithms" [value]="algorithm">
        {{algorithm}}
      </option>
    </select>

    <select [(ngModel)]="encodingSelect" [value]="encodings[0]">
      <option *ngFor="let encoding of encodings" [value]="encoding">
        {{encoding}}
      </option>
    </select>

    <button (click)="criptografar()">Criptografar</button>

    <input [(ngModel)]="hash" readonly type="text" placeholder="resultado">
  </div>


</main>